.container{
    height: 100vh;
}

#fila-principal{
    width:90%;
    margin: -10px auto;
    height: 40px;
    padding-top: 0px;
    padding-bottom: 20px;
}

#fila-principal input[type="search"]{
    float: right;
    height: 40px;
    width: 220px;
    font-size: 1rem;
    border: none;
    outline: none;
    -webkit-appearance: none;
    background-color: #dfdcdc;
    border-radius: 5px;
}

#fila-principal #agregar {
    width: 60px;
}

#fila-principal #volver {
    width: 60px;
}

.mytooltip {
    background: #fff;
    color: #13cdd5;
    padding: 5px 20px;
    margin: 50px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 10px #ddd;
}


button .tool-tip{
    position: fixed;
    transform: translateX(-15%) translateY(-20px);
    width: 120px;
    height: 40px;
    line-height: 40px;
    background: #13cdd5;
    color: #fff;
    border: 1px solid;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 14px;
    border-radius: 4px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

button:hover .tool-tip{
    transition-delay: 1s;
    opacity: 1;
    visibility: visible;
    transform: translateX(-15%) translateY(0px);
}

button .tool-tip:before{
    content: '';
    position: fixed;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
    width: 10px;
    height: 10px;
    background: #13cdd5;
    z-index: 1;
}

#tab{
    width: 90%;
    height: 60vh;
    margin: 0px auto;
    margin-bottom: 50px;
}

#loading{
    color: #5388e8;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    letter-spacing: 5px;
}

#loading:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    color: #13ced5;
    overflow: hidden;
    animation: animates 1s linear infinite;
}

@keyframes animates{
    0%{
        width: 0;
    }

    50%{
        width: 100%;
    }
    
    100%{
        width: 0;
    }
}

.tabla {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    border: 1px solid #ffffff;
}

thead{
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}

th{
    padding: 10px;
}

.botones{
    width: 30px;
}

/*td #Actualizar{
    width: 48%;
    float: left;
}

td #Eliminar{
    width: 48%;
    float: right;
}*/

.item{
    color: red;
}

.zebra tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.td-precio::before {
    content: '$ ';
}

.tabla input[type=text],
.tabla input[type=number],
.tabla input[type=tel],
.tabla input[type=date],
.tabla select{
    border:none;
    background: transparent;
    text-align: center;
    width: 100%;
    height: 40px;
    font-size: 1rem;
    outline: none;
}
/*
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}*/

input[type=number]{
    -moz-appearance:textfield;
}
/*
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
*/
/*
.modal-form{
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 250px;
    border-radius: 10px;
    animation: animate 0.8s;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#datos .modal-content{
    background: #2125298c;
    color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #9E9E9E;
    width: 450px;
    border-radius: 10px;
    animation: animate 0.8s;
    text-align: center;
}

#datos .modal-content input{
    color: #fff;
}

.modal-form .mensaje{
    color: red;
}*/

.modal-header{
    text-align: center;
    color: #28a745;
}
h5 {
    text-align: center;
}
/*
.modal-body{
    padding: 2px 16px;
}*/
/*
.modal-footer{
    padding: 34px 16px;
}

.modal-footer #clear, .modal-footer #cancel{
    width: 45%;
    float: right;
}

.modal-footer #insert, .modal-footer #update, .modal-footer #confirm{
    width: 45%;
    float: left;
}
*/

@keyframes animate{
    0%{
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }
}

.boton {
    display: inline-block;
    font-weight: 400;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

.boton-primario {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.boton-primario:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.boton-primario:focus, .boton-primario.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.boton-secundario {
    color: #fff;
    background-color: #b42dcc;
    border-color: #b42dcc;
}


.boton-secundario:hover {
    color: #fff;
    background-color: #9C27B0;
    border-color: #9C27B0;
}

.boton-secundario:focus, .boton-secundario.focus {
    box-shadow: 0 0 0 0.2rem rgba(156, 39, 176, 0.51);
}

.boton-mapa {
    color: #fff;
    background-color:#0069d9;
    border-color: #0062cc;
}


.boton-mapa:hover {
    color: #fff;
    background-color:#0069d9;
    border-color: #0062cc;
}

.boton-mapa:focus, .boton-mapa.focus {
    box-shadow: 0 0 0 0.2rem rgba(45, 36, 168, 0.51);
}

.boton-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
  
.boton-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}
  
.boton-success:focus, .boton-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.boton-cancelar {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.boton-cancelar:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.boton-cancelar:focus, .boton-cancelar.focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.boton-aviso {
    color: #fff;
    background-color: #ffaf00;
    border-color: #ffaf00;
}
.boton-aviso:hover{
      color: #fff;
      background-color: #d99500;
      border-color: #cc8c00;
}
.boton-aviso:focus, .boton-aviso.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 175, 0, 0.5);
}

.boton-linea-negro{
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    width: 90px;
}

.boton-linea-negro:hover{
    background: #fff;
    color: #000;
    width: 90px;
}



.paginacion-btn{
    background-color: #212529;
    border-color: #fff;
    border-radius: 5px;
    color: #ffffff;
    padding: 8px 16px;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
}

.paginacion-btn:hover{
    background: #40c6e1;
}


@media (max-width: 1050px) {

    #filtro{
        width: 95%;
        margin: 50px auto;
    }

    #filtro #agregar, #filtro input[type="search"]{
        width: 100%;
        margin-top: 10px;
    }

    #tab{
        width: 95%;
        margin: 10px auto;
        overflow: auto;
    }

    .table-boxes{
        min-width: 400px;
    }
}


/** EMPEZAMOS LOS CSS DEL NUEVO MODAL*/

/*.modal form .input-box {*/
.input-box {
    position: relative;
    margin-top: 8%;
}

/*.modal form .input-box  input, .modal form .input-box select {*/
.input-box  input, .input-box select {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid green;
    outline: none;
    background: transparent;
    margin-bottom: 30px;
}

/*.modal form .input-box .campo-obligatorio {*/
.input-box .campo-obligatorio {
    color: red;
}

/* css cuando esta mal escrito */

/*.modal form .input-box  .input-error {*/
.input-box  .input-error {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid red;
    outline: none;
    background: transparent;
    margin-bottom: 30px;
}

/*.modal form  .input-box  label {*/
.input-box  label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    padding-left: 2px;
    font-size: 15px;
    columns: #000000;
    pointer-events: none;
    transition: .5s;
}


/*.modal form .input-box input:focus ~ label,
.modal form .input-box input:valid ~ label {*/
.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -18px;
    left: 0;
    color: #1A8CFF;
    font-size: 12px;
}

/*.modal form .input-box select:focus ~ label,
.modal form .input-box select:valid ~ label {*/
.input-box select:focus ~ label,
.input-box select:valid ~ label {
    top: -18px;
    left: 0;
    color: #1A8CFF;
    font-size: 12px;
}


/*Scroll bar*/

@media(min-width:1206px){
    /* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5288e7; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #13ced5; 
  }

}

