/* Css para la vista que gestionar cuenta */

/* CSS para el contenedor del form */
.form-container {
    position: relative;
    margin: auto;
    background: #fff;
    box-shadow: inset 0 0 5px #9e9e9e;
    border-radius: 0 0 5px 5px;
    width: 500px;
}

.form-container form .input-container label {
    display: inline-block;
    margin-right: 90%;
}

.form-container .form-header {
    background: #42a5f5;
    padding: 3px 0 3px 0;
    box-shadow: inset 0 0 5px #9e9e9e;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.form-container .form-header h1 {
    color: #fff;
}

/* CSS para el formulario */

.form-container form {
    margin: auto;
    padding: 5%;
}

.form-container form .input-container {
    position: relative;
    display: block;
    margin-bottom: 5%;
    padding: 10px 10px 0 0;
    border-top: 1px solid rgba(0, 0, 0, .3);
}

.form-container form input[type="text"],
.form-container form input[type="email"],
.form-container form input[type="password"] {
    width: 100%;
    border: solid 1px #ccc;
    padding: 10px 0 10px 0;
    margin-left: -5px;
}

.form-container form table .td-input {
    width: 90%;
    margin-left: -5px;
}


.form-container form .input-container i {
    padding-left: 10px;
    opacity: 0;
}

.form-container form .input-container .off {
    display: none;
}

/* Estos son los iconos que estan delante del input */
.form-container form .input-container .active {
    border: solid 1px #ccc;
    background-color: #ddd;
    padding: 10px 10px 9px 10px;
    opacity: 1 !important;
    vertical-align: top;
}

.form-container form .input-container:hover i {
    opacity: 1;
}



/* CSS para cambiar contraseña */
.input-container .btn-change-pass {
    color:#333;
    background: #b2ebf2;
    height:40px;
    padding: 0 10px 0 10px;
    border:none;
    border-radius: 5%;
    transition: 0.5s;
}
.input-container .btn-change-pass:hover,
.input-container .btn-change-pass:focus {
    box-shadow: inset 12em 0 0 0 #4dd0e1;
}

.change-password-container {
    position: relative;
    box-sizing: border-box;
    margin-top:4%;
    box-shadow: 1px solid rgba(0, 0, 0, 0.3);
    padding:10px 10px 10px 10px;
    display: none;
}

.change-password-container label {
    display: inline-block;
    margin-right: 90%;
    width: 50%;
}
.change-password-container .input-current-pass {
    width: 85% !important;
    margin-bottom: 4% !important;
}

.change-password-container .btn-save-pass {
    background: #1b5e20;
    color:#fff;
    height:40px;
    width: 50%;
    border:none;
    border-radius: 5%;
    transition: 0.5s;
}

.change-password-container .btn-save-pass:hover,
.change-password-container .btn-save-pass:focus {
    box-shadow: inset 20em 0 0 0 #2e7d32;
}
.change-password-container .btn-cancel-pass {
    background: #b71c1c;
    color:#fff;
    height:40px;
    width:45%;
    border:none;
    border-radius:5%;
    transition: 0.5s;
}

.change-password-container .btn-cancel-pass:hover,
.change-password-container .btn-cancel-pass:focus {
    box-shadow: inset 20em 0 0 0 #c62828;
}
/* CSS para el checkbox */

.form-container form .checkbox-container {
    display: block;
    margin-bottom: 10px;
    padding: 10px 10px 0 0;
    border-top: 1px solid rgba(0, 0, 0, .3);
    outline: none;  
}

.form-container form .checkbox-container label{
    display: inline-block;
    width: 69%;
}

input[type="checkbox"] {
    margin: auto;
    position: relative;
    width: 80px;
    height: 25px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}

/* Cuando el input esta seleccionad */
input:checked[type="checkbox"] {
    background: #03a9f4;
}

/* Dibuja el circulo del checkbox*/
input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 25px;
    border: 1px solid #0575E6;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
}

/* Mueve el circulo de izq - derecha y viceversa*/
input:checked[type="checkbox"]::before {
    left: 40px;
    border: 1px solid #0d47a1;
}

/* Css para el span de question*/

.span-question {
    margin: 2%;
    background: #ccc;
    color: #333;
    padding: 5px 5px 5px 5px;
    border-radius: 50%;
    cursor: help;
}

/* CSS para los tooltips*/
.tooltip {
    opacity: 0;
    width: 100%;
    background-color: #F1DC85;
    color: #78716E;
    font-size: 10px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;  
    top:105%;
    position: absolute;
    z-index: 1;
    transition: all 0.5s ease;
}

.tooltip::before {
    content: attr(data-tooltip);
}

.tooltip-active {
    opacity: 1;
    content: attr(data-tooltip);
}

.tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #F1DC85 transparent;
}

/* CSS con media query*/

@media (max-width: 622px){
    .form-container {
        width: 100%;
    }
}