/* CSS VARIABLES*/ 
:root{
    --primary: #ddd;
    --dark: #333;
    --ligth: #fff;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);
}

html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);   
}

.wrapper{
    display: grid;
    grid-gap: 20px;
}

/* Tabla de plantas pronto a extraer*/
.top-container{
    margin-top: 3%;
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1,1fr);
    padding: 3rem;
}

/*Quimicos/suministros/riego*/
.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}

.box{
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

/* Seccion de pedidos*/

.section-orders{
    margin-top: 3%;
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1,1fr);
    padding: 3rem;
}

/* Footer */

/*Table responsive*/

.table-cosecha {
    width: 100%;
    font-size: .85em;
    border: 1px solid rgba(181, 213, 144, 0.5);
    color: #666;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto; 
}

.table-cosecha td, .table-cosecha th {
    padding: .8em;
    border-bottom: 1px solid rgba(181, 213, 144, 0.5); 
}

caption{
    border: 1px solid rgba(181, 213, 144, 0.5);
    color: #1A8CFF;
    font-size: 1.2rem;
}

.table-cosecha th {
    background: #1A8CFF;
    color: #fff;
    font-weight: normal;
    text-align: center; 
}
.table-cosecha td {
    text-align: center; 
}/*
.table-cosecha td:before {
    content: "$ ";
    color: #1A8CFF; 
}
.table-cosecha td:after {
    content: ".00"; 
}*/
.table-cosecha td:first-of-type {
    text-align: center; 
}
.table-cosecha td:first-of-type:before {
    content: ""; 
}
.table-cosecha td:first-of-type:after {
    content: ""; 
}
.table-cosecha tr:hover {
    background: rgba(181, 213, 144, 0.2); 
}

.table-cosecha {
    width: 900px; 
}
/*
.table-cosecha td:first-child {
    width: 8em;
}

.table-cosecha th:first-child {
    width: 8em; 
}*/
.table-cosecha tr:hover td:first-child {
    background: #1A8CFF;
    color: #fff; 
}

/* Tablas de los box*/

.table-boxes{
    width: 100%;
    font-size: .85em;
    border: 1px solid rgba(181, 213, 144, 0.5);
    color: #666;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto; 
}

.table-boxes td, .table-boxes th {
    padding: .8em;
    border-bottom: 1px solid rgba(181, 213, 144, 0.5); 
}


.table-boxes th {
    background: #1A8CFF;
    color: #fff;
    font-weight: normal;
    text-align: center; 
}
.table-boxes td {
    text-align: center; 
}


/*---------------------------------------*/
@media(min-width:420px) and (max-width:1205px){
    .table-container {
        overflow-x: auto;
    }
    .table-cosecha td:first-child {
        position: absolute;
        background: #fff;
        width: 5em; 
    }
    
    .table-cosecha tr:nth-child(1) th:first-child {
        position: absolute;
        text-align: left;
        width: 5em; 
    }
    .table-cosecha td:first-of-type {
        text-align: left; 
    }

    .table-cosecha td {
        text-align: right; 
    }

    .table-cosecha th {
        text-align: right; 
    }
    
    

}

@media(max-width:420px){
    .table-container {
        overflow-x: auto;
    }
    .table-cosecha td:first-child {
        width: 2px;
    }
    .table-cosecha tr:nth-child(1) th:first-child {
        text-align: left;
    }
}