/* Loading para pedido*/
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/cargando.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}



.animacion{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.c{
    list-style: none;
    width: 20px;
    height: 20px;
    background: #1a8cff;
    margin: 0 5px;
    border-radius: 50%;
    animation: loading 1.4s linear infinite;
}

@keyframes loading{
    0%{
        transform: translateY(0);
    }

    60%{
        transform: translateY(0);
    }

    80%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0px);
    }
    
}

.c:nth-child(1){
    animation-delay: 0;
}

.c:nth-child(2){
    animation-delay: -1.2s;
}

.c:nth-child(3){
    animation-delay: -1s;
}

.c:nth-child(4){
    animation-delay: -0.8s;
}

.c:nth-child(5){
    animation-delay: -0.6s;
}



.ring{
    padding: 0;
    margin: 0 auto;
    margin-left: 125px;
    margin-top: 90px;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    background: transparent;
    border: 3px solid #dddddd;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-family: sans-serif;
    font-size: 14px;
    color: #1a8cff;
    letter-spacing: 1px;
}

.ring::before{
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #1a8cff; 
    border-right: 3px solid #1a8cff; 
    border-radius: 50%;
    animation: circle 2s linear infinite;
}

.ring span{
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: glow 2s linear infinite; 
}

.ring span::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #1a8cff;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #1a8cff; 
}


@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes glow{
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(400deg);
    }
}