body{
	padding: 0;
	margin: 0;
	background-size: cover;
	font-family: sans-serif;
	background:url(../images/finca2.jpeg) no-repeat center top;	
	background-size: cover;
}
.login-container{
	margin-top: 50px;
	height: 90%;
	position: relative;
	height: 90vh;
}

.login-box{
	width: 30%;
	height: 300px;
	background: #000;
	opacity: .75;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	padding: 15px 30px;
	border-radius: 10px;
	padding: 60px 30px;
}

.login-box .logo{
	width: 100px;
	height: 100px;
	border-radius: 15%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.login-box h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 32px;
	padding: 10px;
}

.login-box label{
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: block;
}
.login-box input{
	width: 100%;
	height: 40px;
}

.login-box input[type="password"],
.login-box input[type="text"]{
	border: none;
	background: transparent;
	color: #fff;
	outline: none;
	font-size: 16px;
	width: 90%;
}


.login-box .input{
	margin-bottom: 20px;
	border-bottom: 1px solid #fff;
}

.login-box .input .fa-eye:hover,
.login-box .input .fa-eye-slash:hover{
	color: #999;
}

.login-box input[type="button"]{
	border: none;
	outline: none;
	background: #2A4371;
	font-size: 18px;
	margin-bottom: 25px;
	color: #fff;
	border-radius: 15px;

}
.login-box input[type="button"]:hover{
	background: green;
}
.login-box a{
	text-decoration: none;
	font-size: 14px;
	display: block;
	line-height: 20px;
	color: darkgrey;
}

.login-box a:hover{
	color: #fff;
}

.mensaje{
	display: none;
	color: red;
	text-align: center;
	padding-bottom: 10px;
	font-weight: bolder;
}

@media (max-width: 1050px) {

	body{
		width: 100%;
	}

	.login-container{
		margin: 150px auto;
		width: 80%;
	}

	.login-box{
		width: 90%;
		height: 70%;
	}
  }