#mapdiv {
    background: red;
    width: 100%;
    height: 100vh;
}

.map-container {
    margin: 5% 10% 5% 10%;
}
/*
.fila {
    
    margin: 10px auto 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
}

.col{
    position: relative;
    width: 70%;
    margin: 0px auto; 
    box-sizing: border-box;
    text-align: center;
}*/

.col h1{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: normal;
}

.linea{
    border-top: 2px solid #eeeeee;
    padding: 10px;
}