body{
  /*margin: 0 30px;*/
  line-height: 1.4;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  background: -moz-linear-gradient(top,#cfcccc,#f8f7f7);
  background: -webkit-linear-gradient(top,#cfcccc,#f8f7f7);
  background: linear-gradient(30deg,#cfcccc,#f8f7f7);
}

.container{
  height: 100vh;
}

header{
/*  padding: 0 10px;*/
  background: linear-gradient(90deg,#13ced5,#5388e8 );
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}

header .logo img{
  width: 50px;
  height: 50px;
  float: left;
  font-weight: bold;
}

header #menu{
  float: right;
}

header #menu ul{
  margin: 0;
  padding: 0;
  margin-right: 30px;
  display: flex;
}

header #menu ul li{
  list-style: none;
  position: relative;
}
/*
header #menu ul li ul{
  position: absolute;
  left: 0;
  background: #508be7;
  display: none;
}

header #menu ul li.active ul{
  display: block;
}

header #menu ul li ul li{
  display: block;
  width: 200px;
}*/

header #menu ul li a{
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  display: block;
}

header #menu ul .menu-item .sub-menu { 
  position: absolute;
  left: 0;
  background: #508be7;
  display: none;
}
/* Clase solamente para el apartado de ajustes.*/

.ajustes {
  width: 148px;
}

header #menu ul .menu-item .sub-menu a{ 
  display: block;
  width: 178px;
}


header #menu ul .menu-item:hover .sub-menu {
  display: block;
}

footer{
  margin-top: 2rem;
  background: #3da0e1;
  color: #fff;
  text-align: center;
  padding: 0.2rem;
}

header #menu ul li a:hover,
header #menu ul li.active{
  background: #13cdd5;
}

.toggle{
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}


@media (max-width: 1205px){
  
  header{
      padding: 0 20px;
      margin: auto;
  }

  .toggle{
      display: block;
  }

  header #menu{
      position: absolute;
      width: 100%;
      height: calc(100vh-50px);
      background: linear-gradient(90deg,#13ced5,#5388e8 );
      top: 50px;
      left: -100%;
      transition: 0.5s;
      z-index: 999;
  }

  header #menu.active{
      left: 0;
  }

  header #menu ul{
      display: block;
  }

  header #menu ul li a{
      border-bottom: 1px solid #13ced5;
  }
  

  header #menu ul {
      border-radius: 8px;
      overflow: hidden;
  }

  header #menu ul .menu-item {
      border-top: linear-gradient(90deg,#13ced5,#5388e8);
      overflow: hidden;
  }

  header #menu ul .menu-item .menu-btn {
      display: block;
      padding: 5px 20px;
      background: linear-gradient(90deg,#13ced5,#5388e8 );
      color: white;
      position: relative;
  }
  
  
  header #menu ul .menu-item .sub-menu { 
    position: relative;
    left: 0;
    background: #333;
  }

  header #menu ul .menu-item .sub-menu a { 
      display: block;
      padding: 5px 26px;
      color: white;
      font-size: 14px;
      position: relative;
      width: 100%;
  }

  header #menu ul .menu-item .sub-menu a::before { 
      content: "";
      position: absolute;
      width: 6px;
      height: 100%;
      background: #3498db;
      left: 0;
      top: 0;
      transition: 0.3s;
      opacity: 0;
  }

  .ajustes {
    width: 100%;
  }  

  header #menu ul .menu-item .sub-menu a:hover::before { 
      opacity: 1;
  }

  header #menu ul .menu-item:hover .sub-menu {
      display: block;
  }

}
