/* Menu de prueba para los css */ 
* {
    text-decoration: none;
    list-style: none;
}
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.middle ul {
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
}

.middle ul .menu-item {
    border-top: linear-gradient(90deg,#13ced5,#5388e8);
    overflow: hidden;
}

.middle ul .menu-item .menu-btn {
    display: block;
    padding: 16px 20px;
    background: linear-gradient(90deg,#13ced5,#5388e8 );
    color: white;
    position: relative;
}
/*
.middle ul .menu-item .menu-btn::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: linear-gradient(90deg,#13ced5,#5388e8 );
    left: 20px;
    bottom: -7px;
    transform: rotate(45deg);
}*/

.middle ul .menu-item .sub-menu { 
    background: #333;
    overflow: hidden;
    transition: max-heigth 0.5s;
    max-height: 0;
}

.middle ul .menu-item .sub-menu a { 
    display: block;
    padding: 16px 26px;
    color: white;
    font-size: 14px;
    margin: 4px 0;
    position: relative;
}

.middle ul .menu-item .sub-menu a::before { 
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: #3498db;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
}


.middle ul .menu-item .sub-menu a:hover::before { 
    opacity: 1;
}


.middle ul .menu-item:target .sub-menu {
    max-height: 10em;
}