

.tabButton{
    height: 15%;
    margin-bottom: 68px;
}

.tabButton .tab,
.tabButton .plus{
    width: 25%;
    height: 50px;
    float: left;
    margin-bottom: 10px;
}

 .tabButton .tab{
    border: 0.2px solid #28a745;
}

 .tabButton .plus{
    float: right;
    border-bottom: 0.2px solid #28a745;
    width: 22%;
}

.tab button,
.plus button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 50px;
}


 .tabButton .plus:hover{
    background-color: #28a745;
}


 .tabPanel{
    height: 85%;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
    display: none;
    border-top: 0.2px solid #28a745;
}

.content-tab{
    padding: 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.tabButton .tab .x{
    margin: 0;
    padding: 0;
    font-size: 12px;
    position: relative;
    top: -20%;
    color: #dc3545;
    font-weight: bolder;
}

.tabButton .tab .x:hover{
    color: red;
}

thead th{
    background: #1a8cff;
}


.fecha{
    margin-top: 10px;
}

.contenedor-plantas{
     height: 250px;
     overflow-y:auto;
}


/*******************************************/

/** EMPEZAMOS LOS CSS DEL NUEVO MODAL*/

.modal .form .input-box {
    position: relative;
    margin-bottom: 3%;
}

.modal .form .input-box  input, .modal .form .input-box select {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid green;
    outline: none;
    background: transparent;
    margin-bottom: 30px;
}

/* css cuando esta mal escrito */

.modal .form .input-box  .input-error {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid red;
    outline: none;
    background: transparent;
    margin-bottom: 30px;
}

.modal .form  .input-box  label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    padding-left: 2px;
    font-size: 15px;
    columns: #000000;
    pointer-events: none;
    transition: .5s;
}


.modal .form .input-box input:focus ~ label,
.modal .form .input-box input:valid ~ label {
    top: -18px;
    left: 0;
    color: #1A8CFF;
    font-size: 12px;
}

.modal .form .input-box select:focus ~ label,
.modal .form .input-box select:valid ~ label {
    top: -18px;
    left: 0;
    color: #1A8CFF;
    font-size: 12px;
}

.tooltip-text {
    left: 12% !important;
}

/* Css para el modal del pedido.  */

.modal .modal-form {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    border-radius: 10px;
    animation: animate 0.8s;
    text-align: center;
}

/* clase para el boton del tab activo*/

.btn-tab-active {
    background-color: #ffffff;
    border: 0.2px solid #28a745;
    border-bottom:  0.2px solid transparent;
}

.btn-tab-desactive {
    background-color: transparent;
    border: 0.2px solid #28a745;
    color: none;
}

@media (max-width: 735px) {
    .modal .modal-form {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 75%;
        border-radius: 10px;
        animation: animate 0.8s;
        text-align: center;
    }

    .tooltip-text {
        left: 25%; 
    }
    
}

.btn-close {
    width: 100%;
}

.btn-delete-pedido:hover {
    color: red;
}

.btn-delete-pedido {
    padding: 0px;
}