.logo-container {
    width: 100%;
}

.row {
    font-size: 14px;
    color: green;
}

table {
    font-size: 12px;
    border-collapse: separate;
    border-spacing: 10px 5px;
}

table .encabezado {
    font-weight: bold;
}

.titulos label{
    font-size: 12px;
}
td {
    border: 1px solid transparent;
    border-collapse: separate;
    border-spacing: 10px 5px;
}
.logo {
    width: 200%;
    height: 200%;
    float: left;
    font-weight: bold;
}


h3 {
    font-size: 1em;
    font: outline;
    font-style: italic;
    font-family: cursive;
    color:green;
}

.col1 {
    padding: 10px;
    padding-bottom: 10px;
    width: 100%;
    float: left;
}

.col2 {
    /*background: green;*/
    width: 50%;
}


/* Tabla del reporte */

.tabla-reporte {
    margin-top: 10px;
}

.titulos {
    border-top: 1px solid gray;
}


.datosC {
    border: 1px solid green;
}

.cantidad-totales{
    border: 1px solid gray;
}