/* Tooltips css */
  
.tooltip-text {
    opacity: 0;
    width: 80%;
    background-color: #F1DC85;
    color: #78716E;
    font-size: 10px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;  
    top: 65%;
    left: 20%; 
    margin-left: -60px;
    position: absolute;
    z-index: 1;
    transition: all 0.5s ease;
}

.tooltip-text::before {
    content: attr(data-tooltip);
}

.active {
    opacity: 1;
    content: attr(data-tooltip);
}

.tooltip-text::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #F1DC85 transparent;
}